<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @budget.amount %>
</p>

<p>
  <strong>Term start:</strong>
  <%= @budget.term_start %>
</p>

<p>
  <strong>Term end:</strong>
  <%= @budget.term_end %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
